.random__picks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: solid rgba(126, 126, 131, 1) 2px;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.picks {
  display: flex;
  flex-direction: row;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.picks img {
  width: 150px;
  height: auto;
  margin: 0;
  padding: 0;
}
