.opening__page {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opening {
  border: none;
  max-width: 200px;
  text-decoration: none;
  background-color: transparent;
}
