.get_data img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.get_data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.filter__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(126, 126, 131, 1);
  border-radius: 6px;
  font-size: large;
  margin-bottom: 2rem;
  padding: 1rem;
}

.filter__title {
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin-bottom: 1rem;
}

.filter__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  font-family: the-seasons, sans-serif;
  font-weight: 300;
  font-size: small;
  font-style: normal;
  color: rgba(81, 81, 81, 1);
}

.filter__options.collapsed {
  display: none;
}

.filter__options.expanded {
  display: grid;
}

input {
  margin-right: 3px;
}

.filters {
  display: block;
  margin: 2rem;
  justify-content: center;
  gap: 1rem;
}

.filter__button h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.filter__title {
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-right: 20px;
}

.filter__title .arrow {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  line-height: 1;
  user-select: none;
}
