  * {
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgba(81, 81, 81, 1);
  }

  h2 {
    font-family: the-seasons, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(81, 81, 81, 1);
  }

  h3 {
    font-family: the-seasons, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgba(81, 81, 81, 1);
  }

  h4 {
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(81, 81, 81, 1);
  }

  p {
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(81, 81, 81, 1);
  }

  #header__sustainability {
    background-color: rgba(230, 239, 235, 1);

  }

  .capsule__closet,
  .materials {
    background-color: rgba(103, 126, 116, 1);
  }
