h1 {
  font-family: the-seasons, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: the-seasons, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: the-seasons, sans-serif;
  font-weight: 400;
  font-style: italic;
}

header {
  background-color: rgba(230, 239, 235, 1);

}

.capsule__closet,
.materials {
  background-color: rgba(103, 126, 116, 1);
}
