.what__to__wear_btn {
  border: solid rgba(255, 7, 176, 1) 2px;
  border-radius: 15px;
  color: rgba(255, 7, 176, 1);
  padding: 1rem;

}

.sustainability_btn {
  border: solid rgba(0, 76, 69, 1)2px;
  border-radius: 15px;
  color: rgba(0, 76, 69, 1);
  padding: 1rem;
}
