.what__to__wear_btn {
  border: solid rgba(255, 7, 176, 1) 2px;
  border-radius: 20px;


}

.what__to__wear_btn h1 {
  color: rgba(255, 7, 176, 1);
}

.sustainability_btn {
  border: solid rgba(0, 76, 69, 1)2px;
  border-radius: 15px;
  color: rgba(0, 76, 69, 1);

}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
